<body style="background:url(https://images2.alphacoders.com/769/thumb-1920-769680.jpg);
            background-repeat:no-repeat; background-size: auto">
</body>

<center style="font-size : 20px; width: 100%;
      height: 100%; background:#48B0E0;
      border-radius: 25px; border: 2px solid black;
      padding:2px; text-align:left">

    <h2 style="text-align: center">New Character</h2>

    <%= render "form.html", Map.put(assigns, :action, character_path(@conn, :create)) %>

</center>
