<h2>Show Character</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @character.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @character.desc %>
  </li>

  <li>
    <strong>Abilities:</strong>
    <%= if @character.abilities == nil, do: '', else: Enum.join(@character.abilities, ", ") %>
  </li>

</ul>

<span><%= link "Edit", to: character_path(@conn, :edit, @character) %></span>
<span><%= link "Back", to: character_path(@conn, :index) %></span>
